{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-1">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Username</th>
              <th>Age</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            {% for object in  emp_list %}
              <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.username }}</td>
                <td>{{ object.age }}</td>
                <td>{{ object.email }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}