{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row justify-content-center mt-1">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form action="/update/{{ emp.id }}" method='POST'>
                        <div class="form-group">
                            <input type="hidden" name="{{ emp.id }}" id="">
                            <label for="name">Name</label>
                            <input class="form-control" type="text" name="name" placeholder="Your name" value="{{ emp.name }}">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" type="text" name="username" placeholder=Username value="{{ emp.username}}">
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input class="form-control" type="number" name="age" placeholder='Your age' value="{{ emp.age}}">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="text" name="email" placeholder='Your e-mail' value="{{ emp.email}}">
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input class="form-control" type="text" name="subject" placeholder='Your Subject' value="{{ emp.subject}}">
                        </div>
                        <div class="form-group">
                            <label for="bio">Biography</label>
                            <textarea name="bio" cols="30" rows="5" placeholder="Your biography" class="form-control" value="{{ emp.bio }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="interview">Interview</label>
                            <input type="checkbox">
                        </div>
                        <div class="form-group mt-2 d-grid ">
                            <button class="btn btn-primary btn-block text-uppercase" type="submit">Update
                                Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}